* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #faf4f0;
  overflow: hidden;
  text-transform: uppercase;
}

.top-nav {
  background-color: transparent;
  position: absolute;
  width: 100vw;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 2rem;
  list-style: none;
  font-size: 1.15rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.top-nav a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  height: 100vh;
  padding: 7rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-position: -200%;
  background-repeat: no-repeat;
  user-select: none;
}

.card .info {
  max-height: 50%;
  overflow: hidden;
}

.card .title {
  font-size: 1.65rem;
  cursor: pointer;
}

.card .date {
  padding-top: 0.5rem;
  font-size: 1.5rem;
}

.card .number {
  text-align: center;
  font-size: 15rem;
  color: #fe0000;
}

.active,
.highlight {
  color: #fff;
}

.card.active {
  background-size: cover;
  background-position: bottom center;
}

.card.active .info {
  text-shadow: 5px 2px 5px rgba(0, 0, 0, 0.8);
}

.card.active .number {
  color: #fff;
}

@media (max-width: 800px) {
  .top-nav {
    background-image: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.2));
  }

  .top-nav a:nth-child(1) {
    display: none;
  }

  .container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  .card {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
