* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #faf4f0;
  overflow: hidden;
  text-transform: uppercase;
}

.top-nav {
  background-color: transparent;
  position: absolute;
  width: 100vw;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 2rem;
  list-style: none;
  font-size: 1.15rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
}

.top-nav a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.card {
  height: 100vh;
  padding: 7rem 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("https://images.unsplash.com/flagged/photo-1572392640988-ba48d1a74457?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
  background-position: -100%;
  background-repeat: no-repeat;
  user-select: none;
}

.card .title {
  font-size: 2rem;
  cursor: pointer;
}

.card .date {
  padding-top: 0.5rem;
  font-size: 1.5rem;
}

.card .number {
  text-align: center;
  font-size: 15rem;
  color: #fe0000;
}

.active,
.highlight {
  color: #fff;
}

.card.active {
  background-size: cover;
  background-position: bottom center;
}

.card.active .number {
  color: #fff;
}
